{# Users under 18 can only view general content. #}
{% if request.user.profile.age >= 18 and image.media_rating != "general" %}
    <div class="card mt-2 {% include 'includes/utils/util.image_content_rating.border_color.html' %}"
         data-bs-toggle="modal" data-bs-target="#imageModal{{ image.id }}" style="min-height: 20rem">
        <img src="{{ image.file.url }}" class="card-img-top" alt="{{ image.title }}"
             style="width: 100%; height: 10rem; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ image.title|truncatechars:35 }}</h5>
            <p class="card-text">{{ image.description|truncatechars:65 }}</p>
        </div>
    </div>

    {# Modal #}
    <div class="modal modal-xl fade" id="imageModal{{ image.id }}" tabindex="-1"
         aria-labelledby="imageModalLabel{{ image.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ image.title }}
                        <strong>by {{ image.author }}</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{ image.file.url }}" class="img-fluid" alt="{{ image.description }}">
                    <hr>
                    <p>
                        <img src="{{ image.author.profile.avatar.url }}" alt="Author's profile picture"
                             style="width: 3rem; height: 3rem; object-fit: cover;">
                        <a href="{% url 'view_user' user_id=image.author.id %}">{{ image.author }}</a>
                    </p>
                    <h5>{{ image.title }}</h5>
                    <p>{{ image.description }}</p>
                    {% include 'includes/utils/util.image_vote.html' %}
                    <hr>
                    <p>
                        {% for tag in image.tags.all %}
                            <a href="#" class="badge bg-info">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                <div class="modal-footer">
                    <small class="text-muted">
                        Size: {{ image.file.size }} |
                        Dimensions: {{ image.file.width }} x {{ image.file.height }} |
                        {% if image.created_at == image.updated_at %}
                            Created: {{ image.created_at }}
                        {% else %}
                            Edited: {{ image.updated_at }}
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endif %}