{# Users under 18 can only view general content. #}
{% if request.user.profile.age >= 18 and video.media_rating != "general" %}
    <div class="card mt-2 {% include 'includes/utils/util.video_content_rating.border_color.html' %}"
         data-bs-toggle="modal" data-bs-target="#videoModal{{ video.id }}" style="min-height: 20rem">
        <video src="{{ video.file.url }}" class="card-img-top" alt="{{ video.title }}"
               style="width: 100%; height: 10rem; object-fit: cover;"></video>
        <div class="card-body">
            <h5 class="card-title">{{ video.title|truncatechars:35 }}</h5>
            <p class="card-text">{{ video.description|truncatechars:65 }}</p>
        </div>
    </div>

    {# Modal #}
    <div class="modal modal-xl fade" id="videoModal{{ video.id }}" tabindex="-1"
         aria-labelledby="videoModalLabel{{ video.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ video.title }}
                        <strong>by {{ video.author }}</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <video src="{{ video.file.url }}" class="img-fluid" alt="{{ video.description }}" controls></video>
                    <hr>
                    <p>
                        <img src="{{ video.author.profile.avatar.url }}" alt="Author's profile picture"
                             style="width: 3rem; height: 3rem; object-fit: cover;">
                        <a href="{% url 'view_user' user_id=video.author.id %}">{{ video.author }}</a>
                    </p>
                    <h5>{{ video.title }}</h5>
                    <p>{{ video.description }}</p>
                    {% include 'includes/utils/util.video_vote.html' %}
                    <hr>
                    <p>
                        {% for tag in video.tags.all %}
                            <a href="#" class="badge bg-info">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                <div class="modal-footer">
                    <small class="text-muted">
                        Size: {{ video.file.size }} |
                        {% if video.created_at == video.updated_at %}
                            Created: {{ video.created_at }}
                        {% else %}
                            Edited: {{ video.updated_at }}
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endif %}