<div class="card mb-2">
    <div class="card-body">
        <div class="d-flex text-black">
            <div class="flex-shrink-0">
                <img src="{{ video.author.profile.avatar.url }}"
                     alt="Author's profile picture" class="img-fluid"
                     style="width: 5rem;">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5>{{ video.author }}</h5>
                <div class="mb-2">
                    <p class="small text-muted">
                        Author: <a href="{% url 'view_user' user_id=video.author.id %}">{{ video.author }}</a><br>
                        Title: {{ video.title }}<br>
                        Description: {{ video.description }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
