<nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Paper.App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" {% if request.path == '/' %}aria-current="page"{% endif %} href="{% url 'home' %}">Home</a>
                {# Dropdown Gallery #}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == '/gallery/' %}active{% endif %}" {% if request.path == '/gallery/' %}aria-current="page"{% endif %} href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gallery
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Images</a></li>
                        <li><a class="dropdown-item" href="#">Video</a></li>
                        <li><a class="dropdown-item" href="#">Audio</a></li>
                    </ul>
                </div>
                <a class="nav-link {% if request.path == '/wiki/' %}active{% endif %}" {% if request.path == '/wiki/' %}aria-current="page"{% endif %} href="{% url 'wiki' %}">Wiki</a>
                <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" {% if request.path == '/about/' %}aria-current="page"{% endif %} href="{% url 'about' %}">About</a>
            </div>
            {# Float Right Navbar Buttons #}
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-success {% if request.path == '/select_post_type/' %}active{% endif %}" {% if request.path == '/select_post_type/' %}aria-current="page"{% endif %} href="{% url 'select_post_type' %}">Post</a>
                {% if request.user.is_authenticated %}
                    <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
                    <a class="nav-link {% if request.path == '/profile/' %}active{% endif %}" {% if request.path == '/profile/' %}aria-current="page"{% endif %} href="{% url 'profile' %}">{{ request.user }}</a>
                {% else %}
                    <a class="nav-link text-primary" href="{% url 'login' %}">Login</a>
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>