<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if audio_page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?audio_page={{ audio_page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        {% endif %}

        {% for i in audio_page_obj.paginator.page_range %}
            {% if audio_page_obj.number == i %}
                <li class="page-item"><a class="page-link" href="?audio_page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?audio_page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if audio_page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?audio_page={{ audio_page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>