{% extends 'base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                Post: {{ post_type }}
            </div>
            <div class="card-body">
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Post!</button>
            </div>
        </div>
    </form>
{% endblock %}