{% extends 'base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            {% if post_type == "audio" %}
                <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Thumbnail Image">
            {% elif post_type == "image" %}
                <img class="card-img-top" src="{{ post.file.url }}" alt="Post Image">
            {% elif post_type == "video" %}
                <video class="card-img-top" controls>
                    <source src="{{ post.file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <div class="card-header">
                Post: {{ post_type }}
            </div>
            <div class="card-body">
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete
                </button>
            </div>
        </div>
    </form>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this post?
                    Once deleted, it cannot be recovered.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST"
                          action="{% url 'delete_post' post_type=post_type post_id=post.id %}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}