{% extends "base.html" %}

{% block content %}
    <h1>Profile</h1>

    <div class="row">

        <div class="col-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    {% if profile.avatar %}
                        <img class="card-img-top" src="{{ profile.avatar.url }}" alt="Profile Image">
                    {% else %}
                        <img class="card-img-top" src="/media/avatars/default.png" , alt="Default Profile Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ profile }}</h5>
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                <small class="text-muted">{{ field.help_text }}</small>
                            </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Update</button>
                        <hr>
                        <small class="text-muted mt-2">* Usernames can not be edited as they represent your distinct
                            identity on
                            the
                            site, if it needs to be fixed, contact and administrator. </small>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-8">
            <div class="mt-2">
                <div class="accordion accordion-flush" id="accordionFlushViewUser">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Images
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushViewUser">
                            <div class="accordion-body">
                                <div class="row">
                                    {% if image_media %}
                                        {% with this_media_type='image' %}
                                            {% for media in image_media %}
                                                {% include 'includes/utils/card.profile_media.html' %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% else %}
                                        <div class="col-12">
                                            <p class="text-center">No images uploaded yet</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Videos
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushViewUser">
                            <div class="accordion-body">
                                <div class="row">
                                    {% if video_media %}
                                        {% with this_media_type='video' %}
                                            {% for media in video_media %}
                                                {% include 'includes/utils/card.profile_media.html' %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% else %}
                                        <div class="col-12">
                                            <p class="text-center">No videos uploaded yet</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Audio
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushViewUser">
                            <div class="accordion-body">
                                <div class="row">
                                    {% if audio_media %}
                                        {% with this_media_type='audio' %}
                                            {% for media in audio_media %}
                                                {% include 'includes/utils/card.profile_media.html' %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% else %}
                                        <div class="col-12">
                                            <p class="text-center">No audio uploaded yet</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}