{% extends "base.html" %}
{% load humanize %}

{% block content %}

    <div class="card-header d-flex align-items-start">
        <img src="{{ user_profile.avatar.url }}" alt="{{ user_profile.user.username }}'s avatar"
             width="200"
             height="200" class="mr-3" style="margin-right: 1rem">
        <div>
            <h1>
                {{ user_profile.user.username }}
            </h1>
            <p>{{ user_profile.bio|safe }}</p>
        </div>
    </div>
    <div class="container d-flex justify-content-center mb-2">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-light" disabled>
                Joined: {{ user_profile.user.date_joined|naturalday }}
            </button>
            <button type="button" class="btn btn-outline-light" disabled>
                Last Login: {{ user_profile.user.last_login|naturalday }}
            </button>
            <button type="button" class="btn btn-outline-light" disabled>
                Posts: {{ total_posts }}
            </button>
            <button type="button" class="btn btn-outline-light" disabled>
                DOB: {{ user_profile.birth_date|date:"F j, Y" }}
            </button>
            <button type="button" class="btn btn-outline-light" disabled>
                Location: {{ user_profile.location }}
            </button>
        </div>
    </div>
    <hr>
    <h5>Images</h5>
    {% with media_type="image" %}
        <div class="row mb-2">
            {% for media in image_page_obj %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    {% include 'includes/card.media_preview.html' %}
                </div>
            {% endfor %}
        </div>
        {% with page_obj=image_page_obj %}
            {% include 'includes/pagination.media_preview.html' %}
        {% endwith %}
    {% endwith %}
    <hr>
    <h5>Videos</h5>
    {% with media_type="video" %}
        <div class="row mb-2">
            {% for media in video_page_obj %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    {% include 'includes/card.media_preview.html' %}
                </div>
            {% endfor %}
        </div>
        {% with page_obj=image_page_obj %}
            {% include 'includes/pagination.media_preview.html' %}
        {% endwith %}
    {% endwith %}
    <hr>
    <h5>Audio</h5>
    {% with media_type="audio" %}
        <div class="row mb-2">
            {% for media in audio_page_obj %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    {% include 'includes/card.media_preview.html' %}
                </div>
            {% endfor %}
        </div>
        {% with page_obj=image_page_obj %}
            {% include 'includes/pagination.media_preview.html' %}
        {% endwith %}
    {% endwith %}
    <hr>
    {% if user_profile.user.id != request.user.id %}
        <a class="btn btn-sm btn-info"
           href="{% url 'report_user' user_id=user_profile.user.id %}">Report</a>
    {% endif %}
{% endblock %}