{% extends 'base.html' %}

{% block content %}
    <img src="/media/main_banner.png" class="img-fluid" alt="...">
    <p>Welcome to PaperApp, a multimedia sharing platform where you can upload and share your favorite images, videos,
        and audio files.</p>
    <h2>How to Use</h2>
    <p>To start using PaperApp, create an account and log in. Once you're logged in, you can upload your media files,
        view other users' media, and interact with them through likes and comments.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions or feedback, please contact us at support@paperapp.com.</p>
{% endblock %}