{% extends "base.html" %}
{% load embed_video_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="tags-search">
                {# This is a search form that can take a list of tags, and return media that matches the tags #}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-info" type="submit">Search</button>
                    <a class="btn btn-secondary" href="{% url 'home' %}">Clear</a>
                </form>
                <hr>
                <p>Recent Tags:</p>
                {% for tag in tags %}
                    <a href="#" class="badge bg-secondary">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Images
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body row">
                            {% for image in image_media %}
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    {% include 'extensions/image_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Videos
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for video in video_media %}
                                {% include 'extensions/video_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Audio
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for audio in audio_media %}
                                <!-- Display audio content -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .fixed-size-preview {
            width: 100%; /* or any other fixed width */
            height: 200px; /* or any other fixed height */
            object-fit: cover; /* this will make sure the image covers the whole area without distortion */
        }
    </style>
{% endblock %}