{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <small>
                <p>Recent Tags</p>
                {% for tag in recent_20_tags %}
                    <a href="{% url 'search' %}?q={{ tag.name }}" class="badge bg-info">{{ tag.name }}</a>
                {% endfor %}
            </small>
            <hr>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12">
            <h2>Recent Submissions</h2>
            <hr>
            <h5>Images</h5>
            {% with media_type="image" %}
                <div class="row mb-2">
                    {% for media in image_page_obj %}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {% include 'includes/card.media_preview.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% with page_obj=image_page_obj %}
                    {% include 'includes/pagination.media_preview.html' %}
                {% endwith %}
            {% endwith %}
            <hr>
            <h5>Videos</h5>
            {% with media_type="video" %}
                <div class="row mb-2">
                    {% for media in video_page_obj %}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {% include 'includes/card.media_preview.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% with page_obj=image_page_obj %}
                    {% include 'includes/pagination.media_preview.html' %}
                {% endwith %}
            {% endwith %}
            <hr>
            <h5>Audio</h5>
            {% with media_type="video" %}
                <div class="row mb-2">
                    {% for media in audio_page_obj %}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {% include 'includes/card.media_preview.html' %}
                        </div>
                    {% endfor %}

                </div>
                {% with page_obj=image_page_obj %}
                    {% include 'includes/pagination.media_preview.html' %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>
{% endblock %}